

@mixin font{
    
}
@mixin ConsoleNum($size){
    font-family: arial;
    font-size:  $size;
    color:#333333;
}

@mixin ConsoleTitle{
    font-size:14px;
    color:#333333;
}

@mixin BorderContent($width,$borderColor,$bgColor,$left,$top){
    content:"",;
    position: absolute;
    width: $width;
    height:$width;
    left:$left;
    top:$top;
    border-radius: 50%;
    border:1px solid $borderColor;
    background: $bgColor;
}
@mixin Content($width,$left,$top){
    content:"",;
    position: absolute;
    width: $width;
    height:$width;
    left:$left;
    top:$top;
   
}