
//CSS header

$headerBackground : #242b39;
$headerHeight:45px;

$headerFontSize:14px;
$headerColor:#ffffff;
$headerHover:#12151c;

$header-border:1px solid;


$header-border-right-color:#282f3e;
$header-border-left-color:#1b202b;

$header-border-right:$header-border-right-color $header-border;
$header-border-left:$header-border-left-color $header-border;

//nav css
$navBackground : #fafafa;
$navActive:#f5b840;
$navDefaultColor:#d5e0e9;
$subMenuBackground:#fff;
$subMenuTitleBg:#d5deed;
$elItemHeight:45px;

//main css
$mainBackground : #fff;

$consoleBgcolor:#ffffff;

$consoleMginBottom:20px;

$stack:'console';

